@import "../utils/variables";
@import "../utils/mixins";

.stars {
  display: flex;

  &__item {
    @include square($star-size);
    margin-right: 4px;
    
    background-image: url("../images/star-active.svg");
    background-position: center;
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
      background-image: url("../images/star.svg");
    }
  }
}
